$myColor:brown;
body{
    display: flex;
    background-color:lighten($myColor,30%);
    color:$myColor;
    justify-content: space-around;
        div{
            margin-top:2em;
            width:90%;
            height: 40em;
            border:solid, 0.5em, black;
            background-color: beige;
            color: $myColor;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            align-items: center;
        }
}